<div class="py-4 px-3 font-bold hover:bg-gray-100 curser-pointer border-t border-gray-200">
    <div class="flex items-center group">
        <div class="flex flex-1">
            <div>
                <span class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-300">SN</span>
            </div>
            <div class="ms-3 flex-1">
                <div class="text-sm text-gray-900">Suresh N</div>
                <div class="text-sm font-normal text-gray-500 truncate">What is the update for current project?</div>
            </div>
            <div class="inline-flex text-xs items-center text-gray-500">3 days ago</div>
        </div>
        <div class="font-normal hidden group-hover:inline-flex mx-3">
            <i class="ri-delete-bin-5-fill ri-lg text-red-600"></i>
        </div>
    </div>
</div>